# Ignore everything
*

# But not these files...

!builds/
!builds/business-analytics
!builds/sp

!java/
!java/.gitignore
!java/*.java

!licenses/
!licenses/.gitignore

!logs/
!logs/.gitignore

!scripts/
!scripts/ubuntu/
!scripts/ubuntu/nocrc/
!scripts/ubuntu/nocrc/.gitignore
!scripts/ubuntu/nocrc/README.md
!scripts/ubuntu/pentaho/
!scripts/ubuntu/pentaho/*.sh
!scripts/ubuntu/.gitignore
!scripts/ubuntu/*.sh

!shared
!shared/.gitignore

!ubuntu/
!ubuntu/16.04/*
!ubuntu/18.04/*
!ubuntu/base/*
!ubuntu/screenshots/*
!ubuntu/*.sh
!ubuntu/README.md

!.gitignore
!LICENSE.md
!README.md
